<div>
    <div class="header">
        <div class="profile-header">
            <img style="height: 16px;" src="../../../assets/user.png">
            <span>Fabio</span>
        </div>

        <div class="coins-header">
            <img style="height: 16px;" src="../../../assets/diamond.svg">
            <span>300</span>
        </div>
    </div>

    <div class="game-section">
        <img class="banner" src="../../../assets/banner.png">

        <div (click)="goToGame()" class="start-button">
            Start
        </div>

        <div class="section-btns">
            <div class="btn">
                Profile
            </div>

            <div class="btn">
                Ranking
            </div>
        </div>

        <div class="section-btns">
            <div class="btn">
                Help
            </div>

            <div class="btn">
                Talk to us!
            </div>
        </div>
    </div>
</div>